.main_nav{
    @apply w-[40px] h-[40px] bg-white text-gray-400 rounded-lg absolute top-[30px] right-[30px]
     py-2 shadow-[0_8px_30px_rgb(0,0,0,0.12)] transition-all duration-[.4s]
}
.showNav{
@apply h-[320px]
}
.menu{
    @apply absolute  left-[50%] translate-x-[-50%]
}
.navItem{
    @apply gap-5 text-xl absolute top-[45px] left-[100%] translate-x-[-50%]
     opacity-0 
}
.showItem{
    @apply opacity-100 left-[50%] transition-all duration-[.4s]
}
.hideItem{
    @apply opacity-0
}
.navItem a{
    @apply relative
}
.navItem p{
    @apply absolute top-[50%] translate-y-[-50%] left-[-30px] text-[14px] bg-[#f2f6f7]  w-[70px] px-1  rounded-md  opacity-0 duration-[.2s]
    scale-0
}
.navItem a:hover p{
    @apply opacity-100 left-[-81px] scale-[1]
}